body{
  background: black;
  padding: 1vw;
  /* display: flex; */
  /* flex-wrap: wrap; */
}


.comonContainer{
  border-radius: 0.5vw;
  box-shadow: 0.25vw 0.25vw 1vw -0.1vw rgb(255 255 255 / 13%);
  width: 21vw;
  margin: 1vw;
  height: 30vw;
}


h1{
  font-family: Montserrat;
  text-align: center;
  font-size: 3vw;
  font-weight: 100;
  color: white;
  /* background-color: white; */
  letter-spacing: 0.85vw;
}
