@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-VariableFont-wght.ttf");
}

body {
  font-family: Montserrat;
  margin: 0;
  background-color: #111;
  font-family: Montserrat;
  background: linear-gradient(to bottom, #121 0%, #000 20%);
  min-height: 100vh;
  box-shadow: inset -15px 0px 2vw 0vw rgba(17, 34, 17, 1);
}

/* nav start */
nav {
  /* border: 1px solid red; */
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.links {
  padding-left: 1vw;
  display: flex;
  align-items: center;
}

.links a {
  display: block;
  opacity: 0.6;
  transition: 0.2s;
  margin-right: 0.5vw;
}

.links a:hover {
  opacity: 1;
}

.upwork {
  height: 1.3vw;
  filter: grayscale(1);
}


.links a:hover .upwork {
  filter: grayscale(0);
}

.github{
  height: 1.3vw;
}

.nav-items-right {
  margin: 1vw;
}

.nav-items-right a {
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  margin-right: 1vw;
  font-weight: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: 0.2s;
  /* border: 1px solid red; */
}

.nav-items-right a:hover {
  font-weight: 200;
  text-shadow: 0vw 0vw 0.2vw white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.navSpan {
  font-weight: 200;
  transition: 0.2s;
  text-shadow: 0vw 0vw 0.2vw white;
  width: 1.2vw;
  display: inline-block;
  font-size: 0.8vw;
}

.nav-items-right a:hover .navSpan {
  color: black;
  font-weight: 500;
}

/* nav end */
/* footer start */
footer {
  min-height: 10vw;
  /* background: linear-gradient(to top, #121 0%,#000 100%); */
}

/* footer end */
@media (orientation: portrait), (max-width: 1250px) {
  @font-face {
    font-family: Montserrat;
    src: url("./fonts/Montserrat.Montserrat-VariableFont_wght.ttf");
  }


  /* nav start */
  nav {
    /* border: 1px solid red; */
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    flex-direction: column;
    top: 3vw;
  }

  .links {
    padding-left: 1vw;
    margin-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    order: 2;
  }

  .links a {
    display: block;
    opacity: 0.6;
    transition: 0.2s;
    margin-right: 0.5vw;
  }

  .links a:hover {
    opacity: 1;
  }

  .upwork {
    height: 7.3vw;
    filter: grayscale(1);
  }

  .links a:hover .upwork {
    filter: grayscale(0);
  }

  .github{
    height: 10.3vw;
    width: 8vw;
  }

  .nav-items-right {
    margin: 1vw;
    order: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .nav-items-right a {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 3.5vw;
    margin-right: 1vw;
    font-weight: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: 0.2s;
    /* border: 1px solid red; */
  }

  .nav-items-right a:hover {
    font-weight: 200;
    text-shadow: 0vw 0vw 0.2vw white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .navSpan {
    font-weight: 200;
    transition: 0.2s;
    text-shadow: 0vw 0vw 0.2vw white;
    width: auto;
    display: inline-block;
    font-size: 3.8vw;
  }

  .nav-items-right a:hover .navSpan {
    color: black;
    font-weight: 500;
  }

  /* nav end */
  /* footer start */
  footer {
    min-height: 10vw;
    /* background: linear-gradient(to top, #121 0%,#000 100%); */
  }

  /* footer end */
}
