.canvasBanner {
  max-width: 100%;
  position: relative;
  top: -3.5vw;
}

main {
  position: relative;
  /* background: black; */
}

main h2 {
  text-align: center;
  color: black;
  text-shadow: 0vw 0vw 0.6vw rgba(255, 255, 255, 05);
  font-size: 5vw;
  position: absolute;
  top: -3vw;
  width: 100%;
  pointer-events: none;
  margin: 0;
}

/* recentProjects start */
.recentProjects {
  width: 100%;
  /* overflow: hidden; */
  /* overflow-x: hidden; */
  transition: 2s ease;
  position: relative;
  z-index: 3;
  /* background: #33343b; */
  padding-bottom: 23vw;
  position: relative;
}

.recentProjectsTextBox {
  /* border: 1px solid red; */
  position: relative;
  z-index: 2;
  display: flex;
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  top: -7vw;
  padding-right: 7vw;
}

.recentProjectsTextBox h2 {
  font-size: 33.8655vw;
  color: white;
  font-family: 'Gorgeous-Bold.ttf';
  margin: 0;
  user-select: none;
  z-index: 24234;
  writing-mode: tb;
  position: relative;
  top: 7vw;
  transition: 1s ease;
}

.recentProjectsTextBox h3 {
  font-size: 9.67585vw;
  color: #33343b;
  /* color: red; */
  font-family: 'Gorgeous-Light.ttf';
  margin: 0;
  margin-left: 7vw;
  margin-top: -1.5vw;
  /* font-weight: 100; */
  user-select: none;
  text-align: center;
  letter-spacing: 0.4vw;
}

.recProjContainer {
  position: relative;
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  padding-top: 15vw;
  padding-bottom: 14vw;
}

.recProjContainer a:nth-child(2) .recProjBoxContainer {
  transform-origin: right;
}

.recProjContainer a:nth-child(3) .recProjBoxContainer {
  transform-origin: center;
}

.recProjBoxContainer {
  position: relative;
  transition: all 0.5s ease;
  opacity: 0.7;
  /* border: 1px solid red; */
}

.recProjBoxContainer:hover {
  transform: scale(1.2);
  z-index: 1;
  opacity: 1;
}

.recProjImageBox {
  position: relative;
  width: 36.28447vw;
  height: 36.28447vw;
  transition: all 0.5s ease;
  /* border: 1px solid green; */
  display: inline-block;
  transform: rotate(45deg);
  overflow: hidden;
}

.recProjImageBox::before {
  content: '';
  display: block;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  width: 20%;
  height: 180%;
  top: 1px;
  bottom: 1px;
  /* opacity: 0.2;  */
  top: -120%;
  left: 10%;
  transition: 2s;
  transform: rotate(45deg);
  z-index: 5;
  pointer-events: none;
}

.recProjImageBox:hover:before {
  top: 100%;
  left: 100%;
}

.recProjImageBox:nth-child(3) {
  margin-top: -5vw;
}

.recProjImageBox:hover {
  z-index: 1;
}

.recProjImageBox img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.recProjImageBox img {
  position: relative;
  transition: all 0.5s ease;
  width: 100%;
  /* transition: rot; */
}

.poUpCarContainer {
  z-index: 6;
  /* border: 1px solid yellow; */
  position: fixed;
  bottom: 0;
  height: 0vh;
  width: 100%;
  transition: 1.3s ease;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  font-family: 'Roboto-Thin.ttf';
  justify-content: center;
  align-items: center;
  background: gray;
}

.poUpImg {
  max-width: 100%;
  /* min-height: 100%; */
  height: fit-content;
  /* object-fit: contain; */
}

.popUpLeftArrowBox {
  transform: skewX(10deg);
  transform: rotate(55.5deg);
}

.popUpLeftArrow {
  width: 4.116vw;
  height: 4.116vw;
  /* transform: rotate(45deg); */
  border-left: 2px solid #3c3c3b;
  border-bottom: 2px solid #3c3c3b;
  transform: skewX(25deg);
  transition: 0.5s ease;
  opacity: 0.27;
}

.popUpLeft:hover .popUpLeftArrow {
  opacity: 0.57;
}

.popUpRight:hover .popUpLeftArrow {
  opacity: 0.57;
}

.rightPopArrow {
  transform: rotate(-126deg);
  position: relative;
  top: -1vw;
}

.popUpLeft {
  transition: 0.5s ease;
  background: rgba(255, 255, 255, 0.22);
  height: 100%;
  width: 7.26744vw;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popUpRight {
  cursor: pointer;
  transition: 0.5s ease;
  background: rgba(255, 255, 255, 0.22);
  height: 100%;
  width: 7.26744vw;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popUpLeft:hover,
.popUpRight:hover {
  background: rgba(255, 255, 255, 0.4);
}

.popUpLeft:hover p,
.popUpRight:hover p {
  opacity: 0.45;
}

.popUpLeft p,
.popUpRight p {
  font-size: 4vw;
  transform: scale(1, 4);
  font-weight: 100;
  transition: 0.5s ease;
  opacity: 0.27;
}

.popUpCloseBox {
  cursor: pointer;
  width: 7.26744vw;
  height: 7.26744vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Roboto-Thin.ttf';
  color: #3c3c3b;
}

.popUpCloseBox:hover p {
  opacity: 0.45;
}

.popUpCloseBox p {
  transition: 0.5s ease;
  font-size: 6vw;
  font-weight: 100;
  opacity: 0.27;
  pointer-events: none;
  user-select: none;
}

.popUpOverlay {
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: white;
  transition: 0.15s;
  opacity: 0;
}

/* recentProjects end */
/* MOBILE */
@media (orientation: portrait), (max-width: 1250px) {
  .canvasBanner {
    top: -19vw;
    left: -4vw;
  }
  main{
    margin-top: -50vw;
  }
}
